<div class="container" ng-controller="BookController">
	<div class="row">
			<div class="col-xs-4">
				<img ng-src="{{post.image}}" class="img-responsive">
			</div>
			<div class="col-xs-8">

				<!-- post content -->
				<div ng-hide="post.editForm">
					<a ui-sref="posts-show({id: post.id})">{{post.title}}</a>
					<p><strong>Release Date:</strong> {{post.release_date}}</p>

					<!-- edit/delete buttons -->
					<button ng-click="post.editForm = true" class="btn btn-default">Edit</button>
					<button ng-click="deleteBook(post)" class="btn btn-default">Delete</button>
				</div>

				<!-- form to edit post -->
				<form ng-show="post.editForm" ng-submit="updateBook(post)">
					<div class="form-group">
						<input type="text" ng-model="post.title" class="form-control" placeholder="Title">
					</div>
					<div class="form-group">
						<input type="text" ng-model="post.author" class="form-control" placeholder="Author">
					</div>
					<div class="form-group">
						<input type="text" ng-model="post.image" class="form-control" placeholder="Image">
					</div>
					<div class="form-group">
						<input type="text" ng-model="post.release_date" class="form-control" placeholder="Release Date">
					</div>
					<input type="submit" value="Save post" class="btn btn-default">
				</form>
			</div>
		</div>
</div>
